@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_block {
  padding: 0 20px;
}

.nav_bar {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.nav_bar .nav_bar--title {
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px 65px 0px 25px;
}

.nav_bar .nav_bar_menu {
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  padding: 5px 0px 10px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 216px;
}

.container.tools, .container.colors {
  margin: 80px 0px 90px 2%;
}

.container .container_list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.container .container_list .container_list--item {
  width: 196px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_list .container_list--image {
  margin-right: 33px;
}

.container .container_list hr {
  border-color: rgba(0, 0, 0, 0.12);
  margin: 0px 1px 0px -9px;
}

.container_list--circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
  border: 1px solid #000000;
  margin-right: 18px;
}

.container_list--circle.second {
  background-color: #41F795;
}

.container_list--circle.third {
  background-color: #F74141;
}

.container_list--circle.fourth {
  background-color: #41B6F7;
}

.canvas_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 80px 0px 0px 60px;
}

.canvas_box .canvas {
  width: 512px;
  height: 512px;
  background-color: coral;
}

.canvas_switcher {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */